<!DOCTYPE html>
<html>
  <head>
    <title>Not Authorized</title>
  </head>
  <body>
    <h1>Não autorizado</h1>
    <p>Essa rota não está liberada para esse usuário :( Procure o administrador</p>
    <%= link_to "Voltar para seu principal", path_by_role %>
  </body>
</html>
